.contact-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 85%;
  gap: 20px;
  padding-bottom: 70px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.names-container {
  display: flex;
  flex-direction: column;
}

.form-label {
  padding-bottom: 10px;
  font-weight: 600;
}

.form-input,
textarea {
  padding: 10px;
  border-radius: 5px;
  font-weight: 600;
}

.checkbox-container {
  display: flex;
  align-items: flex-start;
}

#agree-input {
  margin-top: 5px;
}

#agree {
  margin-left: 10px;
  font-size: 14px;
}

.error {
  visibility: hidden;
  padding: 5px 0;
}

#btn__submit {
  display: block;
  margin: 20px auto;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #1570ef;
  border: 2px solid #1570ef;
  color: #fff;
  cursor: pointer;
}

@media screen and (min-width: 960px) {
  .contact-container {
    width: 70%;
  }

  .names-container {
    flex-direction: row;
    justify-content: space-between;
  }

  #first_name,
  #last_name {
    margin-right: 40px;
    width: 100%;
  }

  .checkbox-container {
    align-items: center;
  }

  #agree-input {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  #first_name,
  #last_name {
    margin-right: 100px;
  }
}
