.contact-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 85%;
  gap: 20px;
  padding-bottom: 70px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.names-container {
  display: flex;
  flex-direction: column;
}

.form-label {
  padding-bottom: 10px;
  /* font-weight: 500; */
}

.form-input,
textarea {
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  border: 1px solid #d0d5dd;
}

.form-input:focus,
textarea:focus {
  border: 2px solid #84caff;
  color: #101828;
}

.checkbox-container {
  display: flex;
  align-items: flex-start;
}

#agree-input {
  margin-top: 5px;
}

#agree {
  margin-left: 10px;
  font-size: 14px;
}

.form-input .error,
textarea .error {
  border: 1px solid #f89687;
}

.error {
  padding: 10px 0;
  color: #f83f23;
}

#btn__submit {
  display: block;
  margin: 20px auto;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #1570ef;
  border: 2px solid #1570ef;
  color: #fff;
  cursor: pointer;
}

#agree-input:checked {
  border: 1px solid #1570ef;
  color: #1570ef;
  background: none;
}

#agree-input:focus {
  border: 1px solid #84caff;
}

#agree-input:disabled {
  border: 1px solid #d0d5dd;
}

#btn__submit:hover {
  background-color: #175cd3;
  border: 2px solid #175cd3;
}

#btn__submit:focus {
  background-color: #1570ef;
  border: 2px solid #1570ef;
}

#btn__submit:disabled {
  background-color: #b2ddff;
  border: 2px solid #b2ddff;
  cursor: no-drop;
}

@media screen and (min-width: 960px) {
  .contact-container {
    width: 70%;
  }

  .names-container {
    flex-direction: row;
    justify-content: space-between;
  }

  #first_name,
  #last_name {
    margin-right: 40px;
    width: 100%;
  }

  .checkbox-container {
    align-items: center;
  }

  #agree-input {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  #first_name,
  #last_name {
    margin-right: 100px;
  }
}
