.footer-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.footer-img {
  width: 30%;
  height: 30%;
}

#task-paragraph {
  color: #667085;
  padding: 10px 0;
}

hr {
  margin-top: 20px;
}

@media screen and (min-width: 960px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer-img {
    width: 15%;
    height: 15%;
  }
}
