.link-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

.btn {
  background-color: #eaecf0;
  padding: 20px;
  text-decoration: none;
  color: #101828;
  font-weight: 700;
  cursor: pointer;
  border-radius: 10px;
}

.btn:hover {
  background-color: #d0d5dd;
  color: #101828;
}

.links-img {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.links-img a {
  margin: 0 20px;
}

@media screen and (min-width: 960px) {
  .btn {
    font-size: 18px;
  }
}
